* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    margin: 0;
}
.wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url(img/e0b2807b-d754-4b84-bbe8-3e75e3692108_anime-boho-art-minimalist-landscape-mountains-beautiful-simple-hill-realistic-sunny-day-anim-982407693.webp);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}

.accordion-advice {
    display: none;
    transition: 0.5s;
    background: linear-gradient( rgba(100, 160, 255, 0.499), rgb(130, 211, 123));
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 10px black;
}
.accordion-item.active .accordion-advice {
display: block;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
transition:0.5s;
}

.accordion-item {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px white solid;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.accordion {
    height: 40%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.556);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    border: 3px rgb(255, 255, 255) solid;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    text-transform: uppercase;
}
.accordion-item {
    
    
    
}
.accordion-tab {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.489);
    font-weight: bold;
    text-shadow: 0px 0px 10px;
    padding: 10px;
}
.title {
    display: block;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-size: 160%;
}


